* {
  margin: 0;
  padding: 0;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
  /*fix difference sizing*/
  scroll-behavior: smooth;
  font-family: sans-serif;
}
/*welcoming section*/
.welcoming{
  width: 100%;
  height: 100vh;
  /*100 viewpoint height*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
          rgba(0, 0, 0, 0.6), 
          rgba(0, 0, 0, 0.6)
  ), url(https://images.unsplash.com/photo-1514428631868-a400b561ff44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-color: #000000;
  /*alternative background if image not working*/
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
 
}
.porfolio-image{
  max-width: 175px;
  max-height: 175px;
  border-radius: 50%;;
  
}
.welcoming > h1{
  font-family: Ink Free;
  font-size: 3rem;
  margin: 2rem auto;
  color: white;
}
.welcoming > p{
  font-family: Florence;
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
}

.btns{
  display: block;
  position: relative;
  /*why setting relative? 
  its child .btns:after is set to absolute; which means to make it work parent has to be non-static;
  setting it absolute will take it out of the normal flow;
  setting it relative will make sure that it is in its scheduled location in the flow; if left: and etc will make it move left relative to its original position in the flow*/
  background-color: Black;
  min-width: 200px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer; /*finger*/
  border-radius: 5px;
  margin: 30px auto;
  padding: 10px 20px;
  color: white;
  font-size: 1.5rem;
}
.btns::after{
  content: "";
  background: white;
	mix-blend-mode: exclusion;
  width: 0;
  border-radius: 5px;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
	transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

}

.btns:hover::after{
	width: 100%;
}
/*simple mean after hover, width of white background grows from 0 to 100% with a transistion cubic-bezier in 0.3s*/

/*navigation section*/
.sticky-top{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index:1020;
}
.navbar{
  width: 100%;
  height: 60px;
  background: black;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.navlist{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
.navlist > li{
  margin: 2.5rem;
}
.navlist > li > a{
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(210, 212, 207);
}
@media(max-width: 860px){

}
.navlist > li > a:hover{
  color: white;
  font-weight: 400;
}

/*about section*/
.container{
  width: 100%;
  height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
#aboutme > .container{
  height: auto;
}
h1{
  color: black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 10%;
  min-width: 60vw;
  text-align: center;
}
.t1{
  font-family: Bahnschrift Light;
  font-size: 1.3rem;
  line-height: 1.7;
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
}
.t2{
  font-size: 1.1rem;
  text-align: justify;
  font-family: Bahnschrift Light;
  font-weight: 100;
  line-height: 1.4;
  margin-bottom: 20px;
  max-width: 600px;
  text-overflow: clip;
}
.divider{
  width: 3.125rem;
  height: 0.25rem;
  border-radius: 0.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #000000
}

/*project section*/
.project-section-container{
  background-color: #f8f9fa;
  height: auto;
  padding: 10% 4rem;
}
.grid-container {
  display: grid;
  grid-gap: 50px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  /*auto-fit handles the number of grid-items it a row even shrinking*/
  max-width: 1280px;
  /*at least 3 items in a row (with margin)*/
  margin: 0 auto;
}
.grid-item{
  border: solid 1px rgb(56, 55, 55);
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  position: relative;
}
.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 2rem;
  padding: 20px;
  text-align: center;
}
/*adapted from https://www.w3schools.com/howto/howto_css_image_overlay_title.asp*/
/* When you mouse over the grid-item, fade in the overlay title */
.grid-item:hover .overlay {
  opacity: 1;
}

/*contact and footer*/

#contact{
  background-color: #212529;
  width: 100%;
  height: auto;
  color: white;
}
.contact-box{
  width:100%;
  height: 100%;
  padding: 5% 10%;
  
}

.left-box{
  display: inline-block;
  max-width: 30%;
  text-align: left;
  line-height: 1.5rem;
  color: white;
}
.right-box{
  float: right;
  margin-right: 20%;
  display: inline-block;
  max-width: 30%;
  text-align: left;
  line-height: 1.5rem;
  color: white;
}
.footer{
  display: block;
  width: 80%;
  text-align: center;
  padding: 3%;
  color: rgb(224, 224, 222);
  border-top: solid 2px rgba(255, 255, 255, 0.1);
  margin-left: auto;
  margin-right: auto;
}
@media(max-width: 640px){
  .left-box{
    display: block;
    max-width: 100%;
    margin-bottom: 5%;
  }
  .right-box{
    float: none;
    position: relative;
    max-width: 100%;
  }
}

.contact-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
}

.contact-details {
  font-family: Bahnschrift Light;
  font-size: 16px;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateX(16px);
}

.blog-container{
  background-color: #f8f9fa;
  height: auto;
  padding: 10% 4rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}